HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.env
.DS_Store
*/.DS_Store
fma_small
init-script/data-aurora.sql
aurora/src/main/resources/static/audio/**/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
